[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
django-cors-headers = "*"
pyjwt = "*"
regex = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
